@inject IHttpContextAccessor HttpContextAccessor

@{
    var roleString = HttpContextAccessor.HttpContext.Session.GetString("user_role");
    var roles = roleString?.Split(",") ?? new string[0];
    var userName = HttpContextAccessor.HttpContext.Session.GetString("user_name");
}

<ul class="navbar-nav header">
    @if (!string.IsNullOrEmpty(roleString))
    {
        <li class="nav-item header">
            <a class="nav-link text-dark header  my-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет, @userName!</a>
        </li>

        @if (roles.Contains("Admin"))
        {
              <li class="nav-item">
                <a class="nav-link" asp-page="/Admin/Statistics/Statistic">Админка</a>
            </li>
        }
        else if (roles.Contains("User"))
        {
            <li class="nav-item header">
                <a class="nav-link text-dark header  my-link" asp-page="/Cart/UserCart">Корзина</a>
            </li>
            <li class="nav-item header">
                <a class="nav-link text-dark header  my-link" asp-page="/Order/UserOrders">Заказы</a>
            </li>
        }

        <li class="nav-item header">
            <form class="form-inline header" asp-area="Identity" asp-page="/Auth/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark header  my-link">Выход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item header">
            <a class="nav-link text-dark header  my-link" asp-area="Identity" asp-page="/Auth/Register">Регистрация</a>
        </li>
        <li class="nav-item header">
            <a class="nav-link text-dark header  my-link" asp-area="Identity" asp-page="/Auth/Login">Вход</a>
        </li>
    }
</ul>
