@page
@model Client.Pages.Order.UserOrdersModel

@{

}


<div class="container pb-5">
    <h2 class="text-center my-4">Ваши заказы</h2>

    @if (!Model.OrderModels.Any())
    {
        <p class="text-center">Заказов не найдено.</p>
    }
    else
    {
        <div class="row justify-content-center">
            @foreach (var order in Model.OrderModels)
            {
                <div class="col-md-6 mb-4">
                    <div class="card shadow-lg border-0 rounded-0 text-center">
                        <div class="card-body">
                            <h5 class="card-title">Заказ от @order.OrderedDate.ToString("g")</h5>
                            <p class="card-text">
                                <strong>Статус:</strong> @order.Status <br>
                                <strong>Сумма:</strong> $@order.TotalAmount
                            </p>
                            <a asp-page="/Order/Details" asp-route-orderId="@order.Id" class="btn btn-dark btn-lg rounded-0 w-50">Детали заказа</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
