@page
@model Client.Pages.Store.AboutModel

@{

}

<p class="text-uppercase text-muted text-center">О студии</p>

<!-- Блок 1 -->
<div class="container section pb-5 pt-5">

    <div class="row">
        <!-- Левая колонка: заголовок -->
        <div class="col-md-6" >
            <h1 class="fw-bold mb-4" style="font-size: 55px;">Только настоящая живопись. Только высочайшее качество.</h1>
        </div>

        <div class="col-md-2"></div>

        <!-- Правая колонка: текст, кнопки -->
        <div class="col-md-4 align-self-center">
            <div style="width: 80px; height: 1px; background-color: #000; margin-bottom: 15px;"></div>
            <p class="mb-4">
                Наши картины - только ручная работа художников с академическим образованием и опытом работы не менее 15 лет.
            </p>          
        </div>
    </div>
</div>

<!-- Блок 2 -->
<div class="container my-5 pb-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="/Images/studio.jpg" alt="Арт студия" class="img-fluid w-100 rounded-0">
        </div>
        <div class="col-md-8 text-center mt-4 pt-3">
            <h3 class="fs-5 ">
                Наши умения не вызывают сомнений. <br>
                Они признаны. Они удостоены наград. <br>
                Наша работа говорит сама за себя. Но мы <br>
                еще и хорошие люди. Что тоже важно.
            </h3>
            <div style="width: 80px; height: 1px; background-color: #000; margin: 0 auto;"></div>
        </div>
    </div>
</div>
