@page
@model Client.Pages.Store.ContactsModel

@{

}

<p class="text-uppercase text-muted text-center">Наши контакты</p>

<div class="container pb-5 pt-3">
    <h3 class="text-center mb-5">Мы вам рады</h3>
    <div class="row justify-content-between">
        <!-- Блок контактов -->
        <div class="col-md-4 contact-info">
            <div class="contact-icon">
                <i class="bi bi-chat-dots"></i>
            </div>
            <p><strong>Телефон:</strong> +7 999 666-99-66</p>
            <p><strong>Email:</strong> nash_mail@kartina.ru</p>
        </div>

        <!-- Блок адреса -->
        <div class="col-md-4 contact-info">
            <div class="contact-icon ">
                <i class="bi bi-geo-alt"></i>
            </div>
            <p><strong>наб. Какого-то канала д.0, корп. 0, литера Ы, 0 этаж</strong></p>
        </div>
    </div>
</div>

<!-- Блок 2 -->
<div class="container section pt-2 pb-5">
    <div class="row align-items-center">

        <div class="col-md-6 text-center">
            <img src="/Images/studio-outside.jpg" class="img-fluid" alt="Фото здания">
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div style="width: 80px; height: 1px; background-color: #000; margin-bottom: 15px;"></div>           
            <p>
                Студия Ла Картина располагается в Москве по адресу: наб. Какого-то канала д.0, корп. 0, литера Ы, 0 этаж. Перед приездом обязательно свяжитесь с нами, чтобы договориться о встрече
            </p>           
        </div>    
    </div>
</div>
