@page
@model Client.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container text-center ">
    <div class="row main-page-div align-items-center">
        <div class="col-3">
        </div>

        <div class="col-6 ">
            <h1 class="h1">@ViewData["Title"]</h1>

            <div class="login-div">

                <section>
                    <form method="post" id="account">
                        <hr />
                        <div class="form-floating mb-3">
                            <input asp-for="RegModel.FullName" class="form-control rounded-0" aria-required="true" placeholder="your_name" />
                            <label asp-for="RegModel.FullName" class="form-label">Your name</label>
                            <span asp-validation-for="RegModel.FullName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="RegModel.Email" class="form-control rounded-0" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="RegModel.Email" class="form-label">Email</label>
                            <span asp-validation-for="RegModel.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="RegModel.Password" class="form-control rounded-0" aria-required="true" placeholder="" />
                            <label asp-for="RegModel.Password" class="form-label">Password</label>
                            <span asp-validation-for="RegModel.Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="RegModel.ConfirmPassword" class="form-control rounded-0" aria-required="true" placeholder="" />
                            <label asp-for="RegModel.ConfirmPassword" class="form-label">ConfirmPassword</label>
                            <span asp-validation-for="RegModel.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <button type="submit" class="btn btn-dark btn-lg rounded-0  w-100">Зарегистрироваться</button>
                        </div>

                        <p>
                            <a asp-page="Login" class="body">Войти</a>
                        </p>
                    </form>
                </section>                
            </div>
        </div>

        <div class="col-3">
        </div>
    </div>
</div>
