html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}




/* блок с картинкой */
.img-container {
    max-height: 500px;
    overflow: hidden;
    display: flex;   
    justify-content: center;
    align-items: center;
}

    .img-container img {
        max-height: 100%;
        width: auto;
        object-fit: contain; /* Вписывает изображение в контейнер, не обрезая */
    }


.form-control:focus {
    border-color: black !important; /* Цвет границы */
    box-shadow: 0 0 5px black !important; /* Цвет свечения */
}

a.body {
    color: black !important; /* Изменение цвета текста ссылки */
}

    a.body:hover {
        color: gray !important; /* Изменение цвета при наведении */
    }

.clickable-row {
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

    .clickable-row:hover td {
        background-color: #f8f9fa !important; /* Светло-серый фон */
    }

.table tbody tr td {
    vertical-align: middle !important;
    text-align: center;
}


.for_header {
    background-color: #1e2124 !important;   
}
.for_header a {    
    color: white !important;
}


.sidebar {
    background-color: #1e2124;
    height: 100vh;
    padding-top: 20px;
}



    /* Стили для ссылок */
    .sidebar a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        /* Цвет ссылки по умолчанию */
        .sidebar a:hover {
            background-color: #495057; /* Слегка светлее при наведении */
        }

        /* Стили для активной вкладки */
        .sidebar a.active {
            background-color: #6c757d; /* Цвет активной вкладки, немного светлее фона */
        }



.order-table, .card-header {
    background-color: #f8f9fa !important; /* Цвет как у card-header */
    color: #212529; /* Цвет текста */
}



/*стили иконок на стр: О нас*/
.contact-icon {
    font-size: 48px;
    margin-bottom: 15px;
}

.contact-info {
    text-align: center;
    padding: 20px;
}



